{{- $project := .project -}}
{{- $id := .id | default "" -}}
{{- $image := $project.Resources.GetMatch $project.Params.cover -}}
{{- $themeColor := $project.Params.theme_color -}}

<article
  {{ with $id }}id="{{ . }}"{{ end }}
  class="project"
>
  {{ with $image }}
    <img
      class="project__image"
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt=""
    >
  {{ end }}

  <div class="project__shade"></div>

  <div class="site-frame project__content">
  {{ partial "project-header.html" (dict
  "project" $project
  "fullTitle" false
) }}
  </div>
</article>